@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
  font-size: 62.5%;

  @media (max-width: 1024px) {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background: $color-black;
}
