*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.btn {
  background:none;
  border:none;
  outline:none;
  cursor:pointer;
  font-family: inherit;
  color: $color-white;
}